node_modules/
dist/
*.local
.env
.env.local
*.log

# Vite / TS Build-Artefakte
*.tsbuildinfo
vite.config.d.ts
vite.config.js

# Rust / Tauri
target/
Cargo.lock

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
